<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Package.ExtentReport"/>

    </listeners>


    <test verbose="2" preserve-order="true" name="/Users/manpreetrajpal/kuljeet/Appium1">
    </test>
    <test name="General">
        <classes>
            <class name="Login"/>
        </classes>
    </test>

</suite>